@import 'carbon-components/scss/globals/scss/vars';
@import 'carbon-components/scss/globals/scss/helper-mixins';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/import-once/import-once';

/// Readonly combobox styles
/// @access private
/// @group combobox
@mixin combobox-readonly {
  //----------------------------------------------
  // Read-only
  // ---------------------------------------------
  .#{$prefix}--combo-box--readonly,
  .#{$prefix}--combo-box--readonly:hover {
    background-color: transparent;
  }

  .#{$prefix}--combo-box--readonly .#{$prefix}--text-input {
    border-block-end-color: $border-subtle;
  }

  .#{$prefix}--combo-box--readonly .#{$prefix}--list-box__menu-icon,
  .#{$prefix}--combo-box--readonly .#{$prefix}--list-box__selection {
    cursor: default;
  }

  .#{$prefix}--combo-box--readonly .#{$prefix}--list-box__menu-icon svg,
  .#{$prefix}--combo-box--readonly .#{$prefix}--list-box__selection svg {
    fill: $icon-disabled;
  }
}

@include exports('combobox-readonly') {
  @include combobox-readonly;
}
