@import 'carbon-components/scss/globals/scss/vars';
@import 'carbon-components/scss/globals/scss/helper-mixins';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/import-once/import-once';

/// Readonly radiobutton styles
/// @access private
/// @group radiobutton
@mixin radiobutton-readonly {
  //----------------------------------------------
  // Read-only
  // ---------------------------------------------
  .#{$prefix}--radio-button-group--readonly
    .#{$prefix}--radio-button
    + .#{$prefix}--radio-button__label
    .#{$prefix}--radio-button__appearance {
    border-color: $icon-disabled;
  }

  .#{$prefix}--radio-button-group--readonly .#{$prefix}--radio-button__label {
    cursor: default;
  }

  .#{$prefix}--radio-button-group--readonly
    .#{$prefix}--radio-button__label-text {
    cursor: text;
    user-select: text;
  }

}

@include exports('radiobutton-readonly') {
  @include radiobutton-readonly;
}
