@import 'carbon-components/scss/globals/scss/vars';
@import 'carbon-components/scss/globals/scss/helper-mixins';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/import-once/import-once';

/// Readonly timepicker styles
/// @access private
/// @group timepicker
@mixin timepicker-readonly {
  //----------------------------------------------
  // Read-only
  // ---------------------------------------------
  .#{$prefix}--time-picker--readonly .#{$prefix}--time-picker__input-field {
    background-color: transparent;
    border-block-end-color: $border-subtle;
  }

  .#{$prefix}--time-picker--readonly .#{$prefix}--select-input {
    background-color: transparent;
    border-block-end-color: $border-subtle;
    cursor: default;
  }

  .#{$prefix}--time-picker--readonly
    .#{$prefix}--select-input
    + .#{$prefix}--select__arrow {
    fill: $icon-disabled;
  }
}

@include exports('timepicker-readonly') {
  @include timepicker-readonly;
}
