@import 'carbon-components/scss/globals/scss/vars';
@import 'carbon-components/scss/globals/scss/helper-mixins';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/import-once/import-once';

/// Readonly toggle styles
/// @access private
/// @group toggle
@mixin toggle-readonly {
  //----------------------------------------------
  // Read-only
  // ---------------------------------------------
  .#{$prefix}--toggle--readonly .#{$prefix}--toggle__appearance {
    cursor: default;
  }

  .#{$prefix}--toggle--readonly .#{$prefix}--toggle__switch {
    border: 1px solid $icon-disabled;
    background-color: transparent;

    &::before {
      background-color: $icon-primary;
    }
  }

  .#{$prefix}--toggle--readonly .#{$prefix}--toggle__check {
    fill: $background;
  }

  .#{$prefix}--toggle--readonly .#{$prefix}--toggle__text {
    cursor: text;
    user-select: text;
  }

}

@include exports('toggle-readonly') {
  @include toggle-readonly;
}
